target/

__pycache__/
*.py[cod]
dist/
build/
*.egg-info/

qliff/_core*.so
qliff/_core*.pyd
qliff/_core*.dylib

**/_reports/

.token.env
.vscode/

/base/

.DS_Store
docs/.vitepress
.claude/

.ruff_cache/